/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Animação para botão */
.animationBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.animationBtn:active {
  transform: scale(0.95);
}

/* Animação para card */
.animation:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content {
  background-color: #e2e6e4;
  padding: 1rem;
}

header {
  background-color: white;
  display: flex;
  justify-content: start;
  border-bottom: 2px solid rgba(0, 0, 0, 0.419);
  align-items: center;
}

img.pokeball {
  width: 50px;
  margin-left: 15px;
}

h1 {
  margin-left: 10px;
  padding: 10px 20px;
  color: #3761a8;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  /* font-weight: bold; */
  letter-spacing: 2px;
}

.pokemons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  /* background-color: #49d0b0; */
  color: #fff;
  border-radius: 1rem;
}

.pokemon .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon .name {
  color: #fff;
  margin: 0.25rem 0;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: rgba(0, 0, 0, 0.418);
  padding: 0.5rem;
  border-style: none;
  border-radius: 1rem;
  width: 200px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#pokemon-list {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

.pokemon .detail .types .type {
  background-color: #61e1ca;
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
}

.pokemon .detail img {
  max-width: 100%;
  border-style: none;
  height: 70px;
  align-self: flex-end;
}

.modal {
  /* Posição modal na página */
  display: none;
  position: fixed;
  top: 20%;
  left: 30%;
  /* Tamanho do modal */
  width: 60%;
  max-width: 800px;
  height: 55%;
  max-height: 80vh;

  /* Estilização modal */
  background-color: white;
  border-radius: 2.5rem;
  /* padding: 20px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    overflow: hidden;
}

.modal-show {
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.419);
  align-items: center;
}

.modal-header h2 {
  /* Posição título */
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;

  /* Estilização título */
  color: #3761a8;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.modal-header i {
  margin-right: 30px;
  background-color: #e2e6e4;
  padding: 10px;
  border-radius: 0.5em;
  color: #3761a8;
  cursor: pointer;
}

.modal-body {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  justify-content: center;
  /* background-color: #61e1ca; */
  padding: 1rem;
}

.imgModal {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;  
}

.imgModal img {
  width: 90%;
  max-width: 300px;
  height: auto;
  max-height: 90%;
  object-fit: contain;
}
