* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}   

.content {
    background-color: #e2e6e4;
    padding: 1rem;
}

header {
    background-color: rgba(0, 0, 0, 0.651);
    display: flex;
    justify-content: center;
}

#name-pokemon {
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    margin: 0;
    padding: 10 20;
    color: #e2e6e4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    /* background-color: #49d0b0; */
    color: #fff;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #fff;
    margin: .25rem 0;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: rgba(0, 0, 0, 0.418);
    border-style: none;
    border-radius: 1rem;
    width: 250px;
    cursor: pointer;
}

/* button:hover {

} */

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
    text-transform: capitalize;
}

.pokemon .detail .types .type {
background-color: #61e1ca;
color: #fff;
padding: .25rem .5rem;
margin: .25rem 0;
font-size: .625rem;
border-radius: 1rem;
}



.pokemon .detail img {
    max-width: 100%;
    border-style: none;
    height: 70px;
    align-self: flex-end;
}